
/* 変数 */
:root{
    --font_title: 'Zen kaku Gothic New';    
    --font_catch: 'Kiwi Maru';
    --font_text: 'Zen Maru Gothic';
    --color_main: #3d3d3d;
    --color_darkBrown: #6C6059;
}

/* 全体設定 */
html {
    font-size: 10px;
  }
  
  .site {
    overflow: hidden;
  }

/* font */
body{
    font-family: var(--font_title);
    color: var(--color_main);
}

/* 余白 */
* {
    margin: 0;
    padding: 0;
}

/* その他 */
ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    opacity: 0.7;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

